<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799971967226-o5aopjq8frt063ng2pjbbq62ltrqcdgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799971967226-o5aopjq8frt063ng2pjbbq62ltrqcdgg</string>
	<key>API_KEY</key>
	<string>AIzaSyCZFltdMveP1R1YKlo5F2WTPtjuIssGycI</string>
	<key>GCM_SENDER_ID</key>
	<string>799971967226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.antoine-gonthier.threads</string>
	<key>PROJECT_ID</key>
	<string>threads-instagram</string>
	<key>STORAGE_BUCKET</key>
	<string>threads-instagram.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799971967226:ios:c2759e1e2e89d518d50943</string>
</dict>
</plist>